li{
    list-style: none;
}

.pocetna{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 42px;
}

.slika{
    align-self: flex-start;
}

.header{
    border-bottom: 1px solid lightgray;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

.jordan {
    height: 100%;
    overflow: hidden;
    background-image: url("img/jordan.jpg");
    background-size: cover;
    background-position: center;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}